*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
section{
    height: 100vh;
}
/*----- HEADER ------*/
#nav{
    background-color: #fff;
    height: 12vh;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 5% 0 5%;
} 
.items{
    width: 50%;
}
nav .container .items-1{
    display: flex;
    align-items: center;
}
nav .container .items-2{
    display: flex;
    justify-content:space-between;
}
.nav-link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.header-inicio{
    width: 100%;
    height: 88vh;
    background-color: #0f1218;
    background-image: url('img/camaras-videovigilancia-inicio.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0%;
}

/* ----- SECTION 1 ----- */
.section-1 .container{
    height: 100%;
    display: flex;
}
.section-1 .container .items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 .container .items-1{
}
.section-1 .container .items-1 .texto{
    width: 80%;
}
.section-1 .titulo{
    font-size: 45px;
    margin-bottom: 10px;
}
.section-1 .parrafo{
    font-size: 22px;
    color: #444;
}

/* ----- SECTION 2 ----- */
.section-2{
    background-color: rgb(9, 21, 22);
    color: #fff;
}
.section-2 .titulo{
    font-size: 45px;
    text-align: center;
    padding: 20px 0 20px 0;
}
.section-2 .card{
    height: 80%;
    display: flex;
    justify-content: center;
}
.section-2 .container{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content:space-between;

}
.section-2 .container .items{
    width: 18%;
    text-align: center;
}

/* ----- SECTION 3 ----- */
.section-3{
}
.section-3 .titulo{
    font-size: 45px;
    text-align: center;
    padding: 50px 0 30px 0;
}
.section-3 .card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.section-3 .card .container{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.section-3 .card .container .items{
    border-radius: 20px;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.section-3 .items-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/card/casa.jpg');
    background-size: cover;
    background-position: 0%;
}
.section-3 .items-1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/card/domiciliario.jfif');
    
}
.section-3 .items-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/card/comercial.jpg');
    background-size: cover;
    background-position: 0%;
}
.section-3 .items-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/card/industrial.jpg');
    background-size: cover;
    background-position: 0%;
}
.section-3 .items-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/card/residencial.avif');
   background-position: 0%;
   background-size: cover;
}
.section-3 .items-4:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/card/residencial-2.avif');
}
.section-3 .card .container .items h1{
    color: #fff;
    margin: 0 0 30px 0;
    font-size: 30px;
}

/* ----- SECTION 4 ----- */
.section-4{
    height: 80vh;
    --opacidad-negro: 0.4;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('img/fondo.png');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
}
.section-4 .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.section-4 .container .items{
    text-align: center;
}
.section-4 .correo{
    font-size: 30px;
    color: #bbb;
}
.section-4 .numero{
    font-size:30px;
    color: #bbb;
}

/* ----- FOOTER ----- */
footer .texto{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0 10px 0;
}

@media (max-width:768px){
    section{
        height: auto;
    }
    /* ----- HEADER ----- */
    #nav{
    }
    nav .container{
        justify-content: center;
        margin: 0;
    }
    nav .container .items-2{
        display: none;
    }
    .header-inicio{
    background-position:center;
    }
    header{
    }

    /* ----- SECTION 1 ----- */
    .section-1 .container{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .section-1 .items-1{
        width: 100%;
        height: 100vh;
    }
    .section-1 .container .items-1 .texto{
        width: 85%;
    }
    .section-1 .items-1 .titulo{
        font-size: 40px;
        text-align: center;
    }
    .section-1 .items-1 .parrafo{
        font-size: 20px;
    }
    .section-1 .items-2{
        height: 50vh;
        width: 90%;
    }
    .section-1 .items-2 img{
        width: 80%;
    }

    /* ------ SECTION 2 ------ */
    .section-2 {
    }
    .section-2 .card{
        display: flex;
        flex-direction:row;
    }
    .section-2 .container{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .section-2 .container .items{
        width: 100%;
        padding-bottom: 30px;
    }

    /* ------SECTION 3 ------ */
    .section-3{
        height: 200vh;
    }
    .section-3 .card{
        background-color: aqua;
    }
    .section-3 .container{
        background-color:blue;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .section-3 .container .items{
        
    }
    .section-3 .container .items-1{
        width: 100%; 
    }



}